---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import CommunityImage from "../assets/community.avif";
import AboutTickerView from '../components/AboutTickerView.jsx'

import Banner from "../components/Banner.astro";
---

<Layout title="Welcome to Astro.">
  <section class="px-5 py-32">
    <div class="max-w-[840px] w-full mx-auto gap-6 flex flex-col">
      <p class="text-2xl font-semibold text-accent-secondary">About Us</p>
      <h1 class="text-6xl font-bold">
        Collaborating to Create a More Inclusive World
      </h1>
      <p class="text-2xl/normal">
        We are dedicated to building a universal platform and community through
        education, cultural exchange, and the use of various forms of mass
        communication. We believe that by bringing people from diverse
        communities together, we can foster understanding, harmony, promote
        awareness and growth.
      </p>
    </div>
  </section>

  <section>
    <AboutTickerView client:load />
  </section>

  <section class="px-5 py-32">
    <div class="max-w-[840px] w-full mx-auto gap-6 flex flex-col">
      <p class="text-2xl font-semibold text-accent-secondary">
        Goals & Objectives
      </p>
      <h2 class="text-6xl font-bold">
        Supporting Sustainable Practices and Social Good
      </h2>
      <p class="text-2xl/normal">
        To achieve this mission, we offer a range of programs and initiatives
        that include establishing and running educational institutions,
        organizing cultural events and tours, and providing digital archival and
        cultural resources. We also support sustainable trade practices, provide
        financial and counselling assistance to individuals and organizations
        working for social welfare, and support sustainable livelihoods and
        environmental conservation efforts.
      </p>

      <p class="text-2xl/normal">
        We are committed to collaborating with other non-profit organizations to
        achieve our goals and pursue similar objectives. We believe that by
        working together, we can make a greater impact in creating a more
        inclusive and harmonious world.
      </p>

      <p class="text-2xl/normal">
        Thank you for considering supporting our organization. We invite you to
        learn more about our programs and initiatives and to get involved in our
        mission to build a universal community through education and cultural
        exchange.
      </p>
    </div>
  </section>

  <section class="px-5 py-32 bg-dim">
    <div
      class="grid grid-cols-2 gap-20 max-w-[840px] mx-auto w-full items-center"
    >
      <div class="w-full h-full bg-black/5 relative rounded-lg overflow-hidden">
        <Image
          class="absolute inset-0 w-full h-full object-cover"
          src={CommunityImage}
          loading="lazy"
          alt="Mission"
        />
      </div>
      <div class="space-y-10">
        <div>
          <p class="text-2xl font-semibold mb-2">Our Mission</p>
          <p>
            Our mission is to build a universal platform and community through
            education, cultural exchange, and the use of various forms of mass
            communication, in order to foster understanding and harmony and
            promote awareness and growth.
          </p>
        </div>
        <div>
          <p class="text-2xl font-semibold mb-2">Our Vision</p>
          <p>
            Create a more inclusive and harmonious world by bringing diverse
            communities together and collaborating with other non-profit
            organizations to achieve our shared goals. We believe that by
            working together, we can make a greater impact.
          </p>
        </div>
      </div>
    </div>
  </section>

  <Banner />
</Layout>
