---
import cityImage from "../assets/night-city.jpg";
import { Image } from "astro:assets";
---

<section class="px-5 py-20 relative flex flex-col text-white">
  <Image
    class="w-full inset-0 absolute h-full object-cover object-center"
    src={cityImage}
    width={4536}
    alt={"City at night"}
  />
  <div class="absolute inset-0 bg-black/50 w-full h-full"></div>
  <div
    class="max-w-screen-xl relative mx-auto flex flex-col items-center justify-center gap-6"
  >
    <h3 class="text-4xl font-semibold">Join Us</h3>
    <p class="text-2xl opacity-70">
      Contribute to Our Mission of Advancing Education and Cultural Exchange.
    </p>
    <a
      class="px-5 py-2 rounded-full bg-white text-black font-semibold hover:bg-accent-secondary hover:text-white transition"
      href="/contact">Get in Touch</a
    >
  </div>
</section>
